*
{
    padding: 0;
    margin: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://kartinkin.net/uploads/posts/2021-07/1626125372_8-kartinkin-com-p-chisto-belii-fon-krasivo-8.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}
ul{
    float: right;
    list-style-type: none; 
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{ 
    background-color: #fff;
    color: #000;
}
.main{
    max-width: 1200px;
    margin:  auto;
}
.title{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 200%;
}
.button{
    position: absolute;
    top: 12%;
    left: 85%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 1px 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border: 1px solid transparent;
    font-size: large;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
 .row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.table1{
    font-family: sans-serif;
    background-color: silver;
    width: 285px;
    border-radius: 5px;
    border: 1px solid;
}
.divbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}.whitebtn{
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    width: 80px;
}
.redbtn{
    background-color: red;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    width: 180px;
}
 